.row
  .col-md-3
    .panel
      - unless current_user
        .panel-heading
          %h3.panel-title 로그인
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .panel-body
            .row
              .col-md-12.col-xs-9
                .form-group
                  %span.sr-only ID
                  = f.text_field :username, autofocus: true, class: 'form-control', placeholder: "ID"
                .form-group
                  %span.sr-only 비밀번호
                  = f.password_field :password, class: 'form-control', placeholder: "비밀번호"
          .panel-footer
            .pull-right
              %button.btn.btn-default{:type => "submit"} 로그인
              = link_to "회원가입", new_user_registration_path, class: "btn btn-default"
            .clearfix
      - else
        .panel-heading
          %h3.panel-title Hello!
        .panel-body
          안녕하세요,
          =current_user.nickname
          님!
        .panel-footer
          =link_to "로그아웃", destroy_user_session_path, method: :delete
    %hr
    %div
      %pre
    %hr
  .col-md-6
    .panel
      .panel-heading
        %h3.panel-title 베스트
      %ul.list-group
        %li.list-group-item dummy
        %li.list-group-item dummy
        %li.list-group-item dummy
        %li.list-group-item dummy
        %li.list-group-item dummy
    %hr
    .panel
      .panel-heading
        %h3.panel-title SNU NEWS
      %ul.list-group
        %li.list-group-item dummy
        %li.list-group-item dummy
        %li.list-group-item dummy
        %li.list-group-item dummy
        %li.list-group-item dummy
    %hr
  .col-md-3
    %pre
